# Extracting Data from Companies House Electronic Records

Companies house receives 75% of its records in XBRL or iXBRL format, a glorified tagged xml document that should allow for easy automated extraction of statistics.

The software in this repo was developed after reading of this (American) example:
https://www.codeproject.com/Articles/1227765/Parsing-XBRL-with-Python

The functions for doing so are hosted in the module xbrl_parser.py

Both xbrl_parser.py and this script have a number of python package dependencies so expect to have to install some things.

## Returned dict schema for html/xml sourced data

A practical note:  Apart from explicitly elevated metadata, all extracted values are stored in a list of "elements" within the returned dict.  Each element is itself a dict, containing the name and value of the discovered data along with fields unit and date for metadata.

# Setup (import modules, set up a helper function for getting filepaths)

In [1]:
import xbrl_parser as xp
import os
import numpy as np
import pandas as pd
import importlib

def get_filepaths(directory):

    """ Helper function - 
    Get all of the filenames in a directory that
    end in htm* or xml.
    Under the assumption that all files within
    the folder are financial records. """

    files = [directory + "/" + filename
                for filename in os.listdir(directory)
                    if (("htm" in filename.lower()) or ("xml" in filename.lower())) ]
    return(files)

# Extracting data from documents

We'll import the module, and process some files

In [2]:
# Get all the filenames from the example folder
files = get_filepaths("./example_data_XBRL_iXBRL")

# There's 379 examples currently
files[0:7]

['./example_data_XBRL_iXBRL/Prod224_0042_00958610_20160930.xml',
 './example_data_XBRL_iXBRL/Prod223_2125_09749826_20170831.html',
 './example_data_XBRL_iXBRL/Prod223_2125_09170142_20170831.html',
 './example_data_XBRL_iXBRL/Prod224_0042_03237381_20160831.xml',
 './example_data_XBRL_iXBRL/Prod223_2125_09900460_20161231.html',
 './example_data_XBRL_iXBRL/Prod223_2125_09652609_20180331.html',
 './example_data_XBRL_iXBRL/Prod223_2125_09722743_20170831.html']

In [ ]:
# Reload the xbrl_parser module (don't need this normally, it's just useful for me
# for iterative testing of changes)
importlib.reload(xp)

# try getting the first file (an XML, or XBRL, file)
doc = xp.process_account(files[0])

# display for fun
doc

In [ ]:
# try getting the second file (an HTML, or iXBRL, file)
doc2 = xp.process_account(files[1])

# display for fun
doc2

# Retrieve elements

In [ ]:
# Loop through the document, retrieving any element with a matching name
for element in doc['elements']:
    if element['name'] == 'netassetsliabilitiesincludingpensionassetliability':
        print(element)

In [ ]:
# Extract the all the data to long-thin table format for use with SQL
# Note, tables from docs should be appendable to one another to create
# tables of all data
xp.flatten_data(doc).head(15)

In [ ]:
# Finally, build a table of all variables from all example (digital) documents
# This can take a while

# Empty table awaiting results
results = pd.DataFrame()

# For every file
for file in files:
    
    # Read the file
    doc = xp.process_account(file)
    
    # tabulate the results
    doc_df = xp.flatten_data(doc)
    
    # append to table
    results = results.append(doc_df)

In [ ]:
results.head(15)

That's ~380 files extracted to obtain ~ 22,000 variables - on average 60 variables per record.  As you've just seen though, extraction can take a while!  Searching through the documents using BeautifulSoup can take a long time, especially where chasing element links to get information on units.  Hopefully this is the sort of thing that can be optimised in future, or it'll be rendered irrelevant by Moore's Law.

In [ ]:
results.to_csv("example_extracted_XBRL_data.csv", index=False)

# Get summary variables

These I've implemented to work off the MongoDB/Dict representation of the data that the scraping code returns.  It's assumed that if you wish to work with the "flattened" SQL-compatible data instead you can develop your own queries :)

In [ ]:
index = 3
doc = xp.process_account(files[index])

# This tries to add up every variable it can find in a list of variable names
test = xp.summarise_by_sum(doc, ["fixedassets",
                                 "currentassets",
                                 "intangibleassets",
                                 "tangiblefixedassets",
                                 "intangiblefixedassets",
                                 "investmentsfixedassets",
                                 "cashbankinhand",
                                 "cashbankonhand",
                                 "cashbank",
                                 "cashonhand",
                                 "cashinhand",
                                 "calledupsharecapitalnotpaidnotexpressedascurrentasset",
                                 "otherdebtors"])
test

In [ ]:
# This returns the first variable it finds in a prioritised list
# Here I've gone looking for net assets/liabilities
test = xp.summarise_by_priority(doc, ["netassetsliabilitiesincludingpensionasset",
                                      "netassetsliabilityexcludingpensionasset",
                                      "netassetsliabilities",
                                      "totalassetslesscurrentliabilities",
                                      "netcurrentassetsliabilities"])
test

In [ ]:
# Here I've applied it to shareholder funds/equity
test = xp.summarise_by_priority(doc, ["shareholderfunds",
                                      "equity",
                                      "capitalandreserves"])
test

In [ ]:
# This one just tries to return all named variables
test = xp.summarise_set(doc, ["creditors",
                              "debtors",
                              'accountstypefullorabbreviated',
                              'descriptionprincipalactivities',
                              'accountingstandardsapplied',
                              'entitytradingstatus'])
test

# Finding consolidated status

It turns out that "consolidated" will be tricky - variables exist for it in xbrl/ixbrl docs but they're missleading.  A lot of companies have such a variable and then set the value to "False".

In [17]:
allvars = pd.read_csv("all_variables_sources.csv")

allvars.head()

,Unnamed: 0,Element Count,Element Name,Of Which are Numerical,source
0,12,258094.0,shareholderfunds,258094.0,uk-gaap-full
1,14,240395.0,netassetsliabilitiesincludingpensionassetliabi...,240395.0,uk-gaap-full
2,19,160318.0,creditorsduewithinoneyear,160318.0,uk-gaap-full
3,23,139584.0,sharecapitalallottedcalleduppaid,139584.0,uk-gaap-full
4,24,120765.0,cashbankinhand,120765.0,uk-gaap-full

In [ ]:
consolidation_vars = allvars[allvars['Element Name'].str.contains("consoli")]
consolidation_vars.sort_values("Element Count", ascending=False)

In [ ]:
consolidation_vars = allvars[allvars['Element Name'].str.contains("parent")]
consolidation_vars.sort_values("Element Count", ascending=False)

In [ ]:
consolidation_vars = allvars[allvars['Element Name'].str.contains("accou")]
consolidation_vars.sort_values("Element Count", ascending=False)

In [ ]:
consolidation_vars = allvars[allvars['Element Name'].str.contains("activit")]
consolidation_vars.sort_values("Element Count", ascending=False)

In [ ]:
# manual filter to relevant vars from remaining
for each in consolidation_vars['Element Name']:
    print(each)

In [ ]:
# Built a truth table; for each variable what value should it have to mark a company as consolidated?
consolidation_var_table = {
    "includedinconsolidationsubsidiary":True,
    "investmententityrequiredtoapplyexceptionfromconsolidationtruefalse":True,
    "subsidiaryunconsolidatedtruefalse":False,
    "descriptionreasonwhyentityhasnotpreparedconsolidatedfinancialstatements":"exist",
    "consolidationpolicy":"exist",
    "nameparententity":"exist",
    "amountsowedtoparentundertakingwithinoneyear":"exist",
    "scopeaccounts":"exist"
    }

In [3]:
import pymongo

cl = pymongo.MongoClient()
db = cl['CH_records']
col = db['digital_record_scrapes']

In [4]:
col.find().count()

/home/martin/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

3015767

In [ ]:
docs = col.find().limit(300000)

In [ ]:
results = pd.DataFrame()

for doc in docs:
    
    for each in doc['elements']:
    
        if each['name'] in consolidation_var_table.keys():
        
            res = {"record":doc['doc_companieshouseregisterednumber'],
                   "variable":each['name'],
                   "value":each['value'],
                   "truthval":consolidation_var_table[each['name']]}
        
            results = results.append(res, ignore_index=True)

In [ ]:
results.head()

In [ ]:
results['variable'].unique()

In [ ]:
results[['variable', 'value', 'record']].groupby(['variable', 'value']).agg('count').to_csv("example_consolidation_variables.csv")

In [ ]:
results[['variable', 'value', 'record']].groupby(['variable', 'value']).agg('count')

# Extracting principal activities

In [5]:
docs = col.find(no_cursor_timeout=True)

descriptions = pd.DataFrame()

counter = 0
for doc in docs:
    
    try:
        for each in doc['elements']:
    
            if each['name'] == "descriptionprincipalactivities":
        
                res = {"companieshouseregisterednumber":doc['doc_companieshouseregisterednumber'],
                       "balancesheetdate":doc['doc_balancesheetdate'],
                       "descriptionprincipalactivities":each['value']}
        
                descriptions = descriptions.append(res, ignore_index=True)
                
                counter = counter + 1
                
                if counter % 10000 == 0:
                    print(counter)
                    
                    if counter > 10000:
                        with open("companieshousedescriptions.csv", "a") as f:
                            descriptions.to_csv(f, header=False)
                            print("appended data")

                    else:
                        with open("companieshousedescriptions.csv", "w") as f:
                            descriptions.to_csv(f)
                            print("created_data")
                    
                    descriptions = pd.DataFrame()
                    
                break
    
        
    except:
        pass

10000
created_data
20000
appended data
30000
appended data
40000
appended data
50000
appended data
60000
appended data
70000
appended data
80000
appended data
90000
appended data
100000
appended data
110000
appended data
120000
appended data
130000
appended data
140000
appended data
150000
appended data
160000
appended data
170000
appended data
180000
appended data
190000
appended data
200000
appended data
210000
appended data
220000
appended data
230000
appended data
240000
appended data
250000
appended data
260000
appended data
270000
appended data
280000
appended data
290000
appended data
300000
appended data
310000
appended data
320000
appended data
330000
appended data
340000
appended data
350000
appended data
360000
appended data
370000
appended data
380000
appended data
390000
appended data
400000
appended data
410000
appended data
420000
appended data
430000
appended data
440000
appended data
450000
appended data
460000
appended data
470000
appended data
480000
appended data
490000
appended data
500000
appended data
510000
appended data
520000
appended data
530000
appended data
540000
appended data
550000
appended data
560000
appended data
570000
appended data
580000
appended data
590000
appended data
600000
appended data
610000
appended data
620000
appended data
630000
appended data
640000
appended data
650000
appended data
660000
appended data
670000
appended data
680000
appended data
690000
appended data
700000
appended data
710000
appended data
720000
appended data
730000
appended data
740000
appended data

In [6]:
descriptions = pd.read_csv("companieshousedescriptions.csv")

descriptions.head()

,Unnamed: 0,balancesheetdate,companieshouseregisterednumber,descriptionprincipalactivities
0,0,2017-06-30,08028272,The principal activity of the company is Motor...
1,1,2017-06-30,04761288,No description of principal activity
2,2,2017-08-31,10314494,No description of principal activity
3,3,2016-12-31,03127240,No description of principal activity
4,4,2017-06-30,05735108,No description of principal activity

In [7]:
len(descriptions['descriptionprincipalactivities'].unique())

120931

In [16]:
descriptions[['companieshouseregisterednumber', 'descriptionprincipalactivities']].\
    groupby('descriptionprincipalactivities').agg('count').\
    sort_values('companieshouseregisterednumber', ascending=False).head(20)

                                                    companieshouseregisterednumber
descriptionprincipalactivities
No description of principal activity                                        522712
No description of principal activities is discl...                            4940
No principle activity is included                                             2427
The company is dormant and has not traded durin...                            2067
The principal activity of the company during th...                            1706
The principal activity of the company in the ye...                            1280
The principal activity of the company is Inform...                             925
The company is dormant and has not traded durin...                             855
IT contracting                                                                 851
The principal activity of the company in the pe...                             834
The Company is dormant and has not traded durin...                             830
This company sells stuff to other companies                                    700
IT consultancy                                                                 668
The principal activity of the company is dormant                               519
IT consulting                                                                  515
The principal activity of the company is transp...                             481
The principal activity of the company is Consul...                             443
The principal activity of the company is IT Con...                             437
The principal activity of the company is Dormant                               432
The principal activity of the company is the pr...                             429

In [19]:
allvars

,Unnamed: 0,Element Count,Element Name,Of Which are Numerical,source
0,12,258094.0,shareholderfunds,258094.0,uk-gaap-full
1,14,240395.0,netassetsliabilitiesincludingpensionassetliabi...,240395.0,uk-gaap-full
2,19,160318.0,creditorsduewithinoneyear,160318.0,uk-gaap-full
3,23,139584.0,sharecapitalallottedcalleduppaid,139584.0,uk-gaap-full
4,24,120765.0,cashbankinhand,120765.0,uk-gaap-full
5,27,90836.0,calledupsharecapital,90836.0,uk-gaap-full
6,29,87313.0,profitlossaccountreserve,87313.0,uk-gaap-full
7,33,57669.0,tangiblefixedassets,57669.0,uk-gaap-full
8,37,47536.0,creditorsdueafteroneyear,47536.0,uk-gaap-full
9,38,47438.0,tangiblefixedassetscostorvaluation,47438.0,uk-gaap-full
10,39,46299.0,tangiblefixedassetsdepreciation,46299.0,uk-gaap-full
11,40,44614.0,tangiblefixedassetsdepreciationchargedinperiod,44614.0,uk-gaap-full
12,42,35398.0,tangiblefixedassetsadditions,35398.0,uk-gaap-full
13,49,30540.0,provisionsforliabilitiescharges,30540.0,uk-gaap-full
14,51,27442.0,accrualsdeferredincome,27442.0,uk-gaap-full
15,60,25376.0,stocksinventory,25376.0,uk-gaap-full
16,62,23050.0,tangiblefixedassetsdisposals,23050.0,uk-gaap-full
17,64,22665.0,tangiblefixedassetsdepreciationdecreaseincreas...,22665.0,uk-gaap-full
18,65,19467.0,tangiblefixedassetsincreasedecreasefromrevalua...,19467.0,uk-gaap-full
19,67,19236.0,tangiblefixedassetsincreasedecreasefromtransfe...,19236.0,uk-gaap-full
20,68,11017.0,intangiblefixedassets,11017.0,uk-gaap-full
21,73,7649.0,valuesharesallotted,7649.0,uk-gaap-full
22,74,7410.0,intangiblefixedassetscostorvaluation,7410.0,uk-gaap-full
23,75,6960.0,intangiblefixedassetsaggregateamortisationimpa...,6960.0,uk-gaap-full
24,76,5692.0,intangiblefixedassetsamortisationchargedinperiod,5692.0,uk-gaap-full
25,79,5031.0,capitalemployed,5031.0,uk-gaap-full
26,82,4477.0,secureddebts,4477.0,uk-gaap-full
27,85,4077.0,revaluationreserve,4077.0,uk-gaap-full
28,93,3486.0,sharepremiumaccount,3486.0,uk-gaap-full
29,95,3409.0,otheraggregatereserves,3409.0,uk-gaap-full
...,...,...,...,...,...
1961,60,532066.0,entitycurrentlegalorregisteredname,0.0,all
1962,61,392.0,entityformerlegalorregisteredname,0.0,all
1963,62,2181.0,entitytradingname,0.0,all
1964,66,3.0,furtherinformationonparentlargestgroup,0.0,all
1965,69,3489.0,informationoncontrollingpartyincludingdescript...,0.0,all
1966,70,14920.0,intangibleassetspolicy,0.0,all
1967,72,2370.0,lesseeoperatingleasepolicy,0.0,all
1968,73,4107.0,lessoroperatingleasepolicy,0.0,all
1969,78,610.0,nameassociate,0.0,all
1970,79,7306.0,namecontrollingparty,0.0,all
1971,80,491523.0,nameentityofficer,0.0,all
1972,81,42.0,nameparentlargestgroupinwhichresultsareconsoli...,0.0,all
1973,82,16.0,nameparentsmallestgroupinwhichresultsareconsol...,0.0,all
1974,83,1744.0,nameseniorstatutoryauditor,0.0,all
1975,84,2024.0,namesubsidiary,0.0,all
1976,91,1797.0,opinionauditorsonentity,0.0,all
1977,96,189573.0,postalcodezip,0.0,all
1978,98,156141.0,principalcurrencyusedinbusinessreport,0.0,all
1979,99,192997.0,principallocation-cityortown,0.0,all
1980,102,274.0,provisionsfree-textcomment,0.0,all
1981,103,12566.0,provisionspolicy,0.0,all
1982,105,1229.0,researchdevelopmentpolicy,0.0,all
1983,108,532066.0,startdateforperiodcoveredbyreport,0.0,all
1984,109,10.0,statementonqualifyingthirdpartyindemnityprovis...,0.0,all
1985,110,665.0,statementonqualitycompletenessinformationprovi...,0.0,all
1986,111,415.0,statementonscopeauditreport,0.0,all
1987,112,9.0,statementonwhetherredemptionmandatorycompanyop...,0.0,all
1988,113,216.0,statementthatultimatecontrollingpartynotknown,0.0,all
1989,114,844.0,titleotherspecificaccountingpolicy,0.0,all
1990,119,532066.0,ukcompanieshouseregisterednumber,0.0,all