# New approach, find lines with correct format (with thanks to David Kane at https://github.com/drkane)

Find correct sheets by finding those titled "Balance Sheet"

Exclude a bunch of false positives by filtering out "Statement of" and "Note to the financial statements"

Detect aligned elements by whitespace

within concatenated elements, detect values by regex

if needed, complete multi-line label by finding correct aggregated sentence in blocks / pars

In [1]:
import numpy as np
import pandas as pd
import sys
import os
import pytesseract                            # API for letting python interface with Google's tesseract OCR software
import re
import importlib

import xbrl_image_parser as xip

## 1. Get the filenames of the example data for my convenience

In [2]:
# Get a list of all of the pdf files in the directory "CH_records"
files = [filename.split(".")[0] for filename in os.listdir("./working/ocr_output_compiled") if ".csv" in filename]

In [3]:
for each in range(len(files)):
    print(each, files[each])

0 00002404
1 868273
2 1983517
3 2765595
4 03293902
5 02959325
6 00542515
7 01539777
8 02714555
9 00030177
10 04802747
11 02266230
12 00983951
13 01002610
14 01804186
15 5508774
16 02430955
17 00053475
18 02245999
19 00553535
20 3387163
21 01337451
22 3459907
23 00178090
24 00468115
25 01369166
26 00782931
27 09457025
28 983951
29 01370175
30 06005142
31 04860660
32 2303730
33 02582534
34 00477955
35 04558828
36 06034603
37 3824626

## 2. Read in a csv file of data extracted from a PDF

In [5]:
# Rediscovering what works...
importlib.reload(xip)
index=0

# So far can create all those extra geometric features, can convert to numeric
test = pd.read_csv("./working/ocr_output_compiled/"+files[index]+".csv")

In [9]:
# Create numeric vars where possible
test['numerical'] = xip.convert_to_numeric(test['text'])

# Do some geometry (eg; calculate bottom-bounding coordinates explicitly)
test = xip.make_measurements(test)

# Create a table of aggregated, multiline sentences
agg_text = xip.aggregate_sentences_over_lines(test)

In [12]:
# Look at the first page of the balance sheet.  Some things to note; that first element is a bounding box
# for the entire page
test[test['csv_num']==14][['top', 'bottom', 'text', 'level', 'conf']]

       top  bottom             text  level  conf
4614     0    3509              NaN      1    -1
4615   303     342              NaN      2    -1
4616   303     342              NaN      3    -1
4617   303     342              NaN      4    -1
4618   303     340      Southampton      5    93
4619   304     333             Isle      5    94
4620   304     333               of      5    96
4621   304     341            Wight      5    95
4622   304     333              and      5    96
4623   304     333            South      5    96
4624   304     333               of      5    96
4625   304     341          England      5    96
4626   305     342            Royal      5    96
4627   305     334             Mail      5    95
4628   304     334            Steam      5    96
4629   305     334           Packet      5    95
4630   304     341          Company      5    96
4631   305     342          Limited      5    96
4632   349     386              NaN      2    -1
4633   349     386              NaN      3    -1
4634   349     386              NaN      4    -1
4635   349     386       Registered      5    92
4636   349     378  number:00002404      5    91
4637   580     693              NaN      2    -1
4638   580     693              NaN      3    -1
4639   580     632              NaN      4    -1
4640   580     632          Balance      5    96
4641   580     632            Sheet      5    96
4642   660     693              NaN      4    -1
4643   660     689               As      5    96
...    ...     ...              ...    ...   ...
4824  1582    1618              NaN      3    -1
4825  1582    1618              NaN      4    -1
4826  1582    1618           22,896      5    95
4827  1658    1697              NaN      2    -1
4828  1658    1697              NaN      3    -1
4829  1658    1697              NaN      4    -1
4830  1658    1697          (7,527)      5    96
4831  1755    1874              NaN      2    -1
4832  1755    1874              NaN      3    -1
4833  1755    1790              NaN      4    -1
4834  1755    1790           15,369      5    96
4835  1838    1874              NaN      4    -1
4836  1838    1874           44,190      5    96
4837  1963    2143              NaN      2    -1
4838  1963    2143              NaN      3    -1
4839  1963    2003              NaN      4    -1
4840  1963    2003          (3,071)      5    96
4841  2104    2143              NaN      4    -1
4842  2104    2143             (18)      5    96
4843  2179    2300              NaN      2    -1
4844  2179    2300              NaN      3    -1
4845  2179    2219              NaN      4    -1
4846  2179    2219          (2,244)      5    96
4847  2264    2300              NaN      4    -1
4848  2264    2300           38,857      5    96
4849  3297    3331              NaN      2    -1
4850  3297    3331              NaN      3    -1
4851  3297    3331              NaN      4    -1
4852  3297    3331             Page      5    96
4853  3298    3323               11      5    96

[240 rows x 5 columns]

## 3. Identify balance sheet pages

## 4.  Find lines on the balance sheet

In [19]:
# first; the line detection algorithm
# Lifted this almost directly from David Kane's work
def detect_lines(page_df, x_tolerance=0):
    """
    Detect lines in the csv of a page, returned by Tesseract
    """
    words_df = page_df[page_df['word_num'] > 0]
    page_stats = page_df.iloc[0, :]
    
    row_ranges = []
    this_range = []
    
    # Iterate through every vertical pixel position, top (0) to bottom (height)
    for i in range(page_stats['height']):
        result = (( words_df['bottom'] >= i ) & ( words_df['top'] <= i )).sum() > 0
        
        # Append vertical pixels aligned with words to this_range
        if result:
            this_range.append(i)
        
        # If we've passed out of an "occupied" range, append the resulting range to a list to store
        else:
            if this_range:
                row_ranges.append(this_range)
            this_range = []
        
    # Create bounding boxes for convenience
    return[{"left":0, "right":page_stats['width'], "top":min(r), "bottom":max(r)} for r in row_ranges]

In [188]:
def extract_lines(page_df, lines):
    
    # Look, dark magic!
    finance_regex = r'(.*)\s+(\(?\-?[\,0-9]+\)?)\s+(\(?\-?[\,0-9]+\)?)$'
    
    words_df = page_df[page_df['word_num'] > 0]
    
    results = pd.DataFrame()
    for line in lines:
        
        # Retrieve all text in line
        inline = (words_df['bottom'] <= line['bottom']) & (words_df['top'] >= line['top'])
        line_text = " ".join( words_df[inline]['text'] )
        
        # Perform an incredibly complex regex search to extract right-most two numbers and the label
        result = re.match(finance_regex, line_text)
        
        if result:
            results = results.append({"label":re.sub("[0-9]", "", result.groups()[0]).strip(),
                                      "CurrYr":result.groups()[1],
                                      "LastYr":result.groups()[2],
                                      "source":line_text},
                                     ignore_index=True)
    
    return(results)

In [189]:
lines = extract_lines(page_df, detect_lines(page_df))
lines

,CurrYr,LastYr,label,source
0,180,137,Intangible assets,Intangible assets 12 180 137
1,"28,271","28,681",Tangible assets,"Tangible assets 13 28,271 28,681"
2,446,405,Stocks,Stocks 15 446 405
3,"23,174","11,926",Debtors: amounts falling due within one year,Debtors: amounts falling due within one year 1...
4,"10,208","10,565",Cash at bank and in hand,"Cash at bank and in hand 10,208 10,565"
5,"(10,936)","(7,527)",Creditors: amounts falling due within one year,Creditors: amounts falling due within one year...
6,"22,892","15,369",Net current assets,"Net current assets 22,892 15,369"
7,"51,346","44,190",Total assets less current liabilities,"Total assets less current liabilities 51,346 4..."
8,"(2,620)","(3,071)",than one year,"than one year 18 (2,620) (3,071)"
9,(18),(18),Pensions,Pensions (18) (18)
10,"(2,128)","(2,244)",Pension liability,"Pension liability 23 (2,128) (2,244)"
11,"46,580","38,857",Net assets,"Net assets 46,580 38,857"

In [ ]:
# Next steps;
# make sure to add in missing label text from multi-line labels